Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

Add files via upload
  mailnagapplet@ozderya.net/files/mailnagapplet@ozderya.net/po/de.po
Owners: @hyOzd

Update pt_BR.po
  Cinnamenu@json/files/Cinnamenu@json/po/pt_BR.po
Owners: @fredcw

Update applet.js
  localip@mrieracrespi/files/localip@mrieracrespi/applet.js
Owners: none

Update da.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/da.po
Owners: none

Update de.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/de.po
Owners: none

Update hr.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/hr.po
Owners: none

Update hu.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/hu.po
Owners: none

Update it.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/it.po
Owners: none

Update localip@mrieracrespi.pot
  localip@mrieracrespi/files/localip@mrieracrespi/po/localip@mrieracrespi.pot
Owners: none

Update pt_BR.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/pt_BR.po
Owners: none

Update zh_CN.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/zh_CN.po
Owners: none

Update pt_BR.po
  qredshift@quintao/files/qredshift@quintao/po/pt_BR.po
Owners: @raphaelquintao

Create pt_BR.po
  mailnagapplet@ozderya.net/files/mailnagapplet@ozderya.net/po/pt_BR.po
Owners: @hyOzd

Create pt_BR.po
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/pt_BR.po
Owners: none

Create pt_BR.po
  CustomApplicationsMenu@LLOBERA/files/CustomApplicationsMenu@LLOBERA/po/pt_BR.po
Owners: @Nicolas01

Create pt_BR.po
  restart-cinnamon@kolle/files/restart-cinnamon@kolle/po/pt_BR.po
Owners: @icarter09

Create pt_BR.po
  ScreenShot@tech71/files/ScreenShot@tech71/po/pt_BR.po
Owners: none

Create pt_BR.po
  gnote@brett-smith/files/gnote@brett-smith/po/pt_BR.po
Owners: @brett-smith

Create pt_BR.po
  asl@santiago/files/asl@santiago/po/pt_BR.po
Owners: @SamBurgos

Create pt_BR.po
  cpu-monitor-text@gnemonix/files/cpu-monitor-text@gnemonix/po/pt_BR.po
Owners: @gnemonix

Create pt_BR.po
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/pt_BR.po
Owners: none

Create pt_BR.po
  places-bookmarks@dmo60.de/files/places-bookmarks@dmo60.de/po/pt_BR.po
Owners: none

Create pt_BR.po (#4030)
  gnote@brett-smith/files/gnote@brett-smith/po/pt_BR.po
Owners: @brett-smith

Create pt_BR.po (#4031)
  asl@santiago/files/asl@santiago/po/pt_BR.po
Owners: @SamBurgos

Update pt_BR.po (#4023)
  qredshift@quintao/files/qredshift@quintao/po/pt_BR.po
Owners: @raphaelquintao

Update pt_BR.po (#4021)
  Cinnamenu@json/files/Cinnamenu@json/po/pt_BR.po
Owners: @fredcw

Create pt_BR.po (#4025)
  mailnagapplet@ozderya.net/files/mailnagapplet@ozderya.net/po/pt_BR.po
Owners: @hyOzd

Create pt_BR.po (#4034)
  places-bookmarks@dmo60.de/files/places-bookmarks@dmo60.de/po/pt_BR.po
Owners: none

Create pt_BR.po (#4033)
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/pt_BR.po
Owners: none

localip@mrieracrespi: fix string (#4022)
  localip@mrieracrespi/files/localip@mrieracrespi/applet.js
  localip@mrieracrespi/files/localip@mrieracrespi/po/da.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/de.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/hr.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/hu.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/it.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/localip@mrieracrespi.pot
  localip@mrieracrespi/files/localip@mrieracrespi/po/pt_BR.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/zh_CN.po
Owners: none

Create pt_BR.po (#4028)
  restart-cinnamon@kolle/files/restart-cinnamon@kolle/po/pt_BR.po
Owners: @icarter09

Create pt_BR.po (#4032)
  cpu-monitor-text@gnemonix/files/cpu-monitor-text@gnemonix/po/pt_BR.po
Owners: @gnemonix

Create pt_BR.po (#4029)
  ScreenShot@tech71/files/ScreenShot@tech71/po/pt_BR.po
Owners: none

Create pt_BR.po (#4026)
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/pt_BR.po
Owners: none

Create pt_BR.po (#4027)
  CustomApplicationsMenu@LLOBERA/files/CustomApplicationsMenu@LLOBERA/po/pt_BR.po
Owners: @Nicolas01

mailnagapplet@ozderya.net: added german language file (#4020)
  mailnagapplet@ozderya.net/files/mailnagapplet@ozderya.net/po/de.po
Owners: @hyOzd

hold menu open with middleclick
  app-launcher@mchilli/README.md
  app-launcher@mchilli/files/app-launcher@mchilli/applet.js
Owners: none

Better docstring support
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cogl-1.0.d.ts
  .typescript-declarations/GLib-2.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Graphene-1.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
Owners: none

Remove redundant commented out declaration
  .typescript-declarations/manual-overrides/Clutter-1.0.d.ts
Owners: none

Further cleanup
  .typescript-declarations/manual-overrides/Clutter-1.0.d.ts
Owners: none
