Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

add es.po (#4152)
  sessionManager@scollins/files/sessionManager@scollins/po/es.po
Owners: @collinss

add es.po (#4162)
  ShutdownApplet@DeathMD/files/ShutdownApplet@DeathMD/po/es.po
Owners: @icarter09

add es.po (#4153)
  cryptocoin@guantanamoe/files/cryptocoin@guantanamoe/po/es.po
Owners: @imDeprecated

add es.po (#4167)
  workspace-name@willurd/files/workspace-name@willurd/po/es.po
Owners: @willurd

add es.po (#4164)
  localip@mrieracrespi/files/localip@mrieracrespi/po/es.po
Owners: none

add es.po (#4163)
  network@brownsr/files/network@brownsr/po/es.po
Owners: @brownsr

add es.po (#4166)
  separator2@zyzz/files/separator2@zyzz/po/es.po
Owners: none

add es.po (#4165)
  ThemeRefresh@JosephM/files/ThemeRefresh@JosephM/po/es.po
Owners: none

batterypower@joka42 fixes compatibility issue with systems that have a different power_supply directory (#4151)
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

weather@mockturtl: update for Dutch translation for version 3.1.8
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

update es.po
  printers@linux-man/files/printers@linux-man/po/es.po
Owners: @linux-man

add es.po
  search-box@mtwebster/files/search-box@mtwebster/po/es.po
Owners: none

update es.po
  MessagingMenuV3@blub/files/MessagingMenuV3@blub/po/es.po
Owners: none

update es.po
  MessagingMenuV3@blub/files/MessagingMenuV3@blub/po/es.po
Owners: none

update es.po
  redshift@marvel4u/files/redshift@marvel4u/po/es.po
Owners: @marvel4u

weather@mockturtl: update French translation for the 3.1.8 version
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

weather@mockturtl: improve french translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

costmetic changes
  radio@driglu4it/src/lib/AppletIcon.ts
  radio@driglu4it/src/services/Config.ts
Owners: @jonath92

fix tooltip sometimes showing undefined
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

update es.po
  SpicesUpdate@claudiux/files/SpicesUpdate@claudiux/po/es.po
Owners: @claudiux

hide tooltip when popup is closed
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Delete buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
Owners: @fredcw

Delete ask.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/ask.png
Owners: @fredcw

Delete bing_icon.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/bing_icon.png
Owners: @fredcw

Delete calc.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/calc.png
Owners: @fredcw

Delete duckgo_icon.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/duckgo_icon.png
Owners: @fredcw

Delete ecosia.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/ecosia.png
Owners: @fredcw

Delete google_icon.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/google_icon.png
Owners: @fredcw

Delete startpage.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/startpage.png
Owners: @fredcw

Delete search.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/search.png
Owners: @fredcw

Delete yahoo_icon.png
  Cinnamenu@json/files/Cinnamenu@json/4.0/yahoo_icon.png
Owners: @fredcw

Restructure files
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/appsview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/contextmenu.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
  Cinnamenu@json/files/Cinnamenu@json/4.0/sidebar.js
Owners: @fredcw

update es.po (#4179)
  SpicesUpdate@claudiux/files/SpicesUpdate@claudiux/po/es.po
Owners: @claudiux

update es.po (#4174)
  redshift@marvel4u/files/redshift@marvel4u/po/es.po
Owners: @marvel4u

weather@mockturtl: improve french translation (#4176)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

update es.po (#4173)
  MessagingMenuV3@blub/files/MessagingMenuV3@blub/po/es.po
Owners: none

weather@mockturtl: update for Dutch translation for version 3.1.8 (#4169)
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

update es.po (#4170)
  printers@linux-man/files/printers@linux-man/po/es.po
Owners: @linux-man

add es.po (#4171)
  search-box@mtwebster/files/search-box@mtwebster/po/es.po
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
