Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

Create placeholder.txt
  Cinnamenu@json/files/Cinnamenu@json/icons/placeholder.txt
Owners: @fredcw

[radio@driglu4it] Bugfix: Tooltip of volume slider showing undefined (#4178)
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/lib/AppletIcon.ts
  radio@driglu4it/src/services/Config.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

Move icon files
  Cinnamenu@json/files/Cinnamenu@json/icons/ask.png
  Cinnamenu@json/files/Cinnamenu@json/icons/bing_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/calc.png
  Cinnamenu@json/files/Cinnamenu@json/icons/duckgo_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/ecosia.png
  Cinnamenu@json/files/Cinnamenu@json/icons/google_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/search.png
  Cinnamenu@json/files/Cinnamenu@json/icons/startpage.png
  Cinnamenu@json/files/Cinnamenu@json/icons/yahoo_icon.png
Owners: @fredcw

Delete placeholder.txt
  Cinnamenu@json/files/Cinnamenu@json/icons/placeholder.txt
Owners: @fredcw

Update es.po
  qredshift@quintao/files/qredshift@quintao/po/es.po
Owners: @raphaelquintao

add es.po
  computer@brownsr/files/computer@brownsr/po/es.po
Owners: @brownsr

weather@mockturtl: improve french translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

add es.po
  todo@threefi/files/todo@threefi/po/es.po
Owners: none

add es.po
  smallcalc_applet@lerc.sds/files/smallcalc_applet@lerc.sds/po/es.po
Owners: @lerc

add es.po
  suspend@janax/files/suspend@janax/po/es.po
Owners: none

update es.po
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

fix volume-slider not showing zero
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/AppletContainer.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

add es.po
  netusagemonitor@pdcurtis/files/netusagemonitor@pdcurtis/po/es.po
Owners: @pdcurtis

weather@mockturtl Update sv.po 3.1.8
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

add es.po
  workspace-grid@hernejj/files/workspace-grid@hernejj/po/es.po
Owners: @hernejj

Fix translation for distance
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/ui_elements/uiBar.ts
Owners: @mockturtl

update es.po (#4188)
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

add es.po (#4192)
  workspace-grid@hernejj/files/workspace-grid@hernejj/po/es.po
Owners: @hernejj

weather@mockturtl Update sv.po 3.1.8 (#4191)
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

add es.po (#4182)
  computer@brownsr/files/computer@brownsr/po/es.po
Owners: @brownsr

Update es.po (#4181)
  qredshift@quintao/files/qredshift@quintao/po/es.po
Owners: @raphaelquintao

add es.po (#4190)
  netusagemonitor@pdcurtis/files/netusagemonitor@pdcurtis/po/es.po
Owners: @pdcurtis

add es.po (#4185)
  todo@threefi/files/todo@threefi/po/es.po
Owners: none

weather@mockturtl: improve french translation (#4183)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

add es.po (#4186)
  smallcalc_applet@lerc.sds/files/smallcalc_applet@lerc.sds/po/es.po
Owners: @lerc

add es.po (#4187)
  suspend@janax/files/suspend@janax/po/es.po
Owners: none

fix volume-slider not showing zero (#4189)
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/AppletContainer.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

[Cinnamenu@json] Code restructuring (#4180)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/appsview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/contextmenu.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
  Cinnamenu@json/files/Cinnamenu@json/4.0/sidebar.js
  Cinnamenu@json/files/Cinnamenu@json/icons/ask.png
  Cinnamenu@json/files/Cinnamenu@json/icons/bing_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/calc.png
  Cinnamenu@json/files/Cinnamenu@json/icons/duckgo_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/ecosia.png
  Cinnamenu@json/files/Cinnamenu@json/icons/google_icon.png
  Cinnamenu@json/files/Cinnamenu@json/icons/search.png
  Cinnamenu@json/files/Cinnamenu@json/icons/startpage.png
  Cinnamenu@json/files/Cinnamenu@json/icons/yahoo_icon.png
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

weather@mockturtl: improve french translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

minor fixes
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

Remove unneeded cast
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Update version
  weather@mockturtl/files/weather@mockturtl/metadata.json
Owners: @mockturtl

Various minor fixes and preparing to fix temp unit alignment issue
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/package.json
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Add ignored words and some spelling fixes
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/weather@mockturtl.code-workspace
Owners: @mockturtl

Fix temp unit alignment issues
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

using upower if files do not exist
  batterypower@joka42/.gitignore
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/update_upower.py
Owners: none

removed comments
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

fixed , to . replacement and added comments
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/update_upower.py
Owners: none

fixed upower issues
  batterypower@joka42/.gitignore
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/update_upower.py
Owners: none

works
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/update_upower.py
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
