Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

override __meta
  radio@driglu4it/files/radio@driglu4it/4.6/applet.js
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/index.ts
  radio@driglu4it/src/lib/AppletContainer.ts
  radio@driglu4it/src/lib/AppletIcon.ts
  radio@driglu4it/src/lib/PopupMenu.ts
  radio@driglu4it/src/ui/Notifications/GenericNotification.ts
  radio@driglu4it/src/ui/RadioApplet/RadioAppletContainer.ts
  radio@driglu4it/webpack.config.js
Owners: @jonath92

fix typo in readme
  radio@driglu4it/README.md
Owners: @jonath92

Type payloads
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/accuWeather.ts
Owners: @mockturtl

Changed UUID from `calc@ptandler` to `calc-js@ptandler` to be really unique
  calc-js@ptandler/README.md
  calc-js@ptandler/copy-changed-files.sh
  calc-js@ptandler/files/calc@ptandler/applet.js
  calc-js@ptandler/files/calc@ptandler/helpText.js
  calc-js@ptandler/files/calc@ptandler/icon.png
  calc-js@ptandler/files/calc@ptandler/icon.svg
  calc-js@ptandler/files/calc@ptandler/metadata.json
  calc-js@ptandler/files/calc@ptandler/settings-schema.json
  calc-js@ptandler/files/calc@ptandler/stylesheet.css
  calc-js@ptandler/info.json
  calc-js@ptandler/reload-applet.gjs
  calc-js@ptandler/screenshot.png
  calc-js@ptandler/watch-for-changed-files.sh
Owners: none

feat: add option to convert locale number format (e.g. `1,23`) to JS notation (i.e. `1.23`)
  calc-js@ptandler/README.md
  calc-js@ptandler/files/calc-js@ptandler/applet.js
  calc-js@ptandler/files/calc-js@ptandler/helpText.js
  calc-js@ptandler/files/calc-js@ptandler/icon.png
  calc-js@ptandler/files/calc-js@ptandler/icon.svg
  calc-js@ptandler/files/calc-js@ptandler/metadata.json
  calc-js@ptandler/files/calc-js@ptandler/settings-schema.json
  calc-js@ptandler/files/calc-js@ptandler/stylesheet.css
Owners: none

weather@mockturtl: Dutch translation for version 3.1.9 (#4217)
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

calc-js@ptandler: Changed UUID from `calc@ptandler` to `calc-js@ptandler` to be really unique (#4219)
  calc-js@ptandler/README.md
  calc-js@ptandler/copy-changed-files.sh
  calc-js@ptandler/files/calc-js@ptandler/applet.js
  calc-js@ptandler/files/calc-js@ptandler/helpText.js
  calc-js@ptandler/files/calc-js@ptandler/icon.png
  calc-js@ptandler/files/calc-js@ptandler/icon.svg
  calc-js@ptandler/files/calc-js@ptandler/metadata.json
  calc-js@ptandler/files/calc-js@ptandler/settings-schema.json
  calc-js@ptandler/files/calc-js@ptandler/stylesheet.css
  calc-js@ptandler/info.json
  calc-js@ptandler/reload-applet.gjs
  calc-js@ptandler/screenshot.png
  calc-js@ptandler/watch-for-changed-files.sh
Owners: none

Update is.po
  weather@mockturtl/files/weather@mockturtl/po/is.po
Owners: @mockturtl

Add vivaldi bookmarks to search
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/appsview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/browserBookmarks.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/contextmenu.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/settings-schema.json
  Cinnamenu@json/files/Cinnamenu@json/4.0/sidebar.js
Owners: @fredcw

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

update .pot and some .po files
  Cinnamenu@json/files/Cinnamenu@json/po/Cinnamenu.pot
  Cinnamenu@json/files/Cinnamenu@json/po/de.po
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
  Cinnamenu@json/files/Cinnamenu@json/po/pt.po
  Cinnamenu@json/files/Cinnamenu@json/po/pt_BR.po
  Cinnamenu@json/files/Cinnamenu@json/po/sv.po
  Cinnamenu@json/files/Cinnamenu@json/po/tr.po
Owners: @fredcw

fix: in info.json the `author` field had an array instead of a string value
  calc-js@ptandler/info.json
Owners: none

weather@mockturtl: Brazilian Portuguese (pt-BR) update
  weather@mockturtl/files/weather@mockturtl/po/pt_BR.po
Owners: @mockturtl

Finish AccuWeather provider and add more flexibility for httplib
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/accuWeather.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/types.ts
Owners: @mockturtl

Add remaining calls support
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/BaseProvider.ts
  weather@mockturtl/src/3_8/providers/accuWeather.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/types.ts
Owners: @mockturtl

Fix issue where more hourly forecast boxes would be shown than what is available
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
Owners: @mockturtl

Improve mex forecast days and hours tooltip, increase AccuWeather capabilities
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/providers/accuWeather.ts
Owners: @mockturtl

Bugfix: ensure apt-get output is in english
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
Owners: @fredcw

Add edge browser bookmarks
  browserBookmarks.js
Owners: none

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Add vivaldi and edge browser bookmarks to search
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/appsview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/browserBookmarks.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/contextmenu.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
  Cinnamenu@json/files/Cinnamenu@json/4.0/settings-schema.json
  Cinnamenu@json/files/Cinnamenu@json/4.0/sidebar.js
Owners: @fredcw

update .pot and some .po files
  Cinnamenu@json/files/Cinnamenu@json/po/Cinnamenu.pot
  Cinnamenu@json/files/Cinnamenu@json/po/de.po
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
  Cinnamenu@json/files/Cinnamenu@json/po/pt.po
  Cinnamenu@json/files/Cinnamenu@json/po/pt_BR.po
  Cinnamenu@json/files/Cinnamenu@json/po/sv.po
  Cinnamenu@json/files/Cinnamenu@json/po/tr.po
Owners: @fredcw

remove monitor from global
  radio@driglu4it/files/radio@driglu4it/4.6/applet.js
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/index.ts
  radio@driglu4it/src/lib/PopupMenu.ts
  radio@driglu4it/webpack.config.js
Owners: @jonath92

update defaults, trim stations
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/4.6/settings-schema.json
  radio@driglu4it/src/services/Config.ts
Owners: @jonath92

update stations
  radio@driglu4it/files/radio@driglu4it/4.6/allStations.json
Owners: @jonath92

Add changelog and increment version
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/metadata.json
Owners: @mockturtl

Add AccuWeather to settings.json
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/providers/accuWeather.ts
Owners: @mockturtl

Add Hungarian translation of uiscaler
  uiscaler@joka42/files/uiscaler@joka42/po/hu.po
Owners: none

Import version should come before the import...
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/prefs.js
Owners: @jaszhix

Import version should come before the import...
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/3.4/prefs.js
Owners: @jaszhix

Update version number
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/metadata.json
Owners: @jaszhix
