Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

Updated Hungarian translation of app-launcher applet
  app-launcher@mchilli/files/app-launcher@mchilli/po/hu.po
Owners: none

Updated Hungarian translation of darkMode applet
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/hu.po
Owners: none

Updated Hungarian translation of weather applet
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @mockturtl

Updated Hungarian translation of radio applet
  radio@driglu4it/files/radio@driglu4it/po/hu.po
Owners: @jonath92

added support when power file is available
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

added missing ;
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

fixed loop not continuing
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

add es.po
  sessionManager@scollins/files/sessionManager@scollins/po/es.po
Owners: @collinss

add es.po
  cryptocoin@guantanamoe/files/cryptocoin@guantanamoe/po/es.po
Owners: @imDeprecated

add es.po
  collapsible-systray@feuerfuchs.eu/files/collapsible-systray@feuerfuchs.eu/po/es.po
Owners: @feuerfuchs

update es.po
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

add es.po
  ShutdownMenuWithIcons@LLOBERA/files/ShutdownMenuWithIcons@LLOBERA/po/es.po
Owners: @Nicolas01

update es.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/es.po
Owners: @jaszhix

Update Hungarian translation of darkMode applet
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/hu.po
Owners: none

Update Hungarian translation of Cinnamenu applet
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
Owners: @fredcw

Update Hungarian translation of Cinnamenu applet
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
Owners: @fredcw

Update Hungarian translation of app-launcher applet
  app-launcher@mchilli/files/app-launcher@mchilli/po/hu.po
Owners: none

Update Hungarian translation of radio applet
  radio@driglu4it/files/radio@driglu4it/po/hu.po
Owners: @jonath92

Update Hungarian translation of weather applet
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @mockturtl

fix build errrors
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/lib/AppletContainer.ts
  radio@driglu4it/src/lib/AppletIcon.ts
  radio@driglu4it/src/services/Config.ts
  radio@driglu4it/src/ui/RadioApplet/RadioAppletTooltip.ts
Owners: @jonath92

remove ts-ignores
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/AppletContainer.ts
  radio@driglu4it/src/services/Config.ts
  radio@driglu4it/src/ui/RadioApplet/RadioAppletTooltip.ts
Owners: @jonath92

hide tooltip when popupMenu is open
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/lib/AppletIcon.ts
  radio@driglu4it/src/ui/RadioApplet/RadioAppletContainer.ts
  radio@driglu4it/src/ui/RadioApplet/RadioAppletTooltip.ts
Owners: @jonath92

add es.po
  feeds@jonbrettdev.wordpress.com/files/feeds@jonbrettdev.wordpress.com/po/es.po
Owners: @jake1164

ScreenLocker@tuuxx - add spanish translation
  ScreenLocker@tuuxx/files/ScreenLocker@tuuxx/po/es.po
Owners: @tuuxx

add es.po
  ShutdownApplet@DeathMD/files/ShutdownApplet@DeathMD/po/es.po
Owners: @icarter09

add es.po
  network@brownsr/files/network@brownsr/po/es.po
Owners: @brownsr

add es.po
  localip@mrieracrespi/files/localip@mrieracrespi/po/es.po
Owners: none

add es.po
  ThemeRefresh@JosephM/files/ThemeRefresh@JosephM/po/es.po
Owners: none

add es.po
  separator2@zyzz/files/separator2@zyzz/po/es.po
Owners: none

add es.po
  workspace-name@willurd/files/workspace-name@willurd/po/es.po
Owners: @willurd

update es.po
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/es.po
Owners: none

update es.po (#4168)
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/es.po
Owners: none

ScreenLocker@tuuxx - add spanish translation (#4161)
  ScreenLocker@tuuxx/files/ScreenLocker@tuuxx/po/es.po
Owners: @tuuxx

Updated Hungarian translation (#4159)
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
  app-launcher@mchilli/files/app-launcher@mchilli/po/hu.po
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/hu.po
  radio@driglu4it/files/radio@driglu4it/po/hu.po
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @fredcw, @jonath92, @mockturtl

add es.po (#4160)
  feeds@jonbrettdev.wordpress.com/files/feeds@jonbrettdev.wordpress.com/po/es.po
Owners: @jake1164

update es.po (#4155)
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

add es.po (#4156)
  ShutdownMenuWithIcons@LLOBERA/files/ShutdownMenuWithIcons@LLOBERA/po/es.po
Owners: @Nicolas01

weather@mockturtl hotfix 3.1.8 (#4146)
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/3.8/LogSaver.py
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/metadata.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

add es.po (#4154)
  collapsible-systray@feuerfuchs.eu/files/collapsible-systray@feuerfuchs.eu/po/es.po
Owners: @feuerfuchs

update es.po (#4157)
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/es.po
Owners: @jaszhix
