Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

Revert unintended changes
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/ui_elements/uiBar.ts
Owners: @mockturtl

Update es translations from venom0099@protonmail.com
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Fix async bug causing occasional crashes.
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
Owners: @fredcw

update es.po
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

Simplify weatherbutton
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/ui_elements/weatherbutton.ts
Owners: @mockturtl

fix config file change
  timeshift-spy@nicog60/CHANGELOG.md
  timeshift-spy@nicog60/files/timeshift-spy@nicog60/applet.js
  timeshift-spy@nicog60/icon.png
Owners: @nicog60

icon fix sorry
  timeshift-spy@nicog60/icon.png
Owners: @nicog60

basic functionality working
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/applet.js
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/metadata.json
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/rswitcher
Owners: none

[Cinnamenu@json] Bug fix. (#4038)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

hold menu open with middleclick (#4035)
  app-launcher@mchilli/README.md
  app-launcher@mchilli/files/app-launcher@mchilli/applet.js
Owners: none

Update es translations from venom0099@protonmail.com (#4036)
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

fix config file change (#4039)
  timeshift-spy@nicog60/CHANGELOG.md
  timeshift-spy@nicog60/files/timeshift-spy@nicog60/applet.js
Owners: @nicog60

Update from newly generated files
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/CMenu-3.0.d.ts
  .typescript-declarations/Cally-1.0.d.ts
  .typescript-declarations/Caribou-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cogl-1.0.d.ts
  .typescript-declarations/Cvc-1.0.d.ts
  .typescript-declarations/GLib-2.0.d.ts
  .typescript-declarations/GModule-2.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Graphene-1.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/HarfBuzz-0.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
  .typescript-declarations/manual-overrides/Clutter-1.0.d.ts
Owners: none

working solution
  uiscaler@joka42/README.md
  uiscaler@joka42/files/uiscaler@joka42/applet.js
  uiscaler@joka42/files/uiscaler@joka42/icon.png
  uiscaler@joka42/files/uiscaler@joka42/metadata.json
  uiscaler@joka42/files/uiscaler@joka42/po/pt_BR.po
  uiscaler@joka42/files/uiscaler@joka42/po/sv.po
  uiscaler@joka42/files/uiscaler@joka42/po/uiscaler@joka42
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
  uiscaler@joka42/info.json
  uiscaler@joka42/screenshot.png
Owners: none

removed false language packages
  uiscaler@joka42/files/uiscaler@joka42/applet.js
  uiscaler@joka42/files/uiscaler@joka42/po/pt_BR.po
  uiscaler@joka42/files/uiscaler@joka42/po/sv.po
  uiscaler@joka42/files/uiscaler@joka42/po/uiscaler@joka42
Owners: none

reset rswitcher
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/applet.js
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/metadata.json
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/rswitcher
Owners: none

fixed wrong scaling after 125 to 200 switch
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

update readme
  uiscaler@joka42/README.md
Owners: none

added more known issues
  uiscaler@joka42/README.md
Owners: none

fixed typo, removed commented out code
  uiscaler@joka42/files/uiscaler@joka42/applet.js
Owners: none

fixed typo in metadata
  uiscaler@joka42/files/uiscaler@joka42/metadata.json
Owners: none

removed commented out code
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

added next features to readme
  uiscaler@joka42/README.md
Owners: none

update pot creation date
  uiscaler@joka42/files/uiscaler@joka42/po/uiscaler@joka42
Owners: none

update screenshot
  uiscaler@joka42/screenshot.png
Owners: none

added known issue
  uiscaler@joka42/README.md
Owners: none

include tooltip for log saver
  weather@mockturtl/files/weather@mockturtl/3.8/LogSaver.py
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
Owners: @mockturtl

Add capability to save config along with logs and use own template for issues
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/main.ts
Owners: @mockturtl

Updated Hungarian translation of radio@driglu4it
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/hu.po
  radio@driglu4it/files/radio@driglu4it/po/hu.po
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/hu.po
Owners: @jonath92

Updated Hungarian translation of weather@mockturtl
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @mockturtl

Update settings description and changelog
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
Owners: @mockturtl

dont use markup for command
  app-launcher@mchilli/files/app-launcher@mchilli/widgets.py
Owners: none

Make sure code is es2017 compatible
  ddcci-multi-monitor@tim-we/files/ddcci-multi-monitor@tim-we/applet.js
Owners: none

dont use markup for command (#4044)
  app-launcher@mchilli/files/app-launcher@mchilli/widgets.py
Owners: none

Updated Hungarian translations (#4043)
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/hu.po
  radio@driglu4it/files/radio@driglu4it/po/hu.po
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/hu.po
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @jonath92, @mockturtl

Make sure code is es2017 compatible (#4045)
  ddcci-multi-monitor@tim-we/files/ddcci-multi-monitor@tim-we/applet.js
Owners: none

weather@mockturtl Update 3.1.6 (#4003)
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/3.8/LogSaver.py
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/metadata.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/package.json
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/consts.ts
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/lib/io_lib.ts
  weather@mockturtl/src/3_8/lib/logger.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/ui_elements/uiCurrentWeather.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/weatherbutton.ts
  weather@mockturtl/src/3_8/utils.ts
  weather@mockturtl/webpack.config.js
Owners: @mockturtl

Add "UI Scaler for HiDPI Screens" (#4042)
  uiscaler@joka42/README.md
  uiscaler@joka42/files/uiscaler@joka42/applet.js
  uiscaler@joka42/files/uiscaler@joka42/icon.png
  uiscaler@joka42/files/uiscaler@joka42/metadata.json
  uiscaler@joka42/files/uiscaler@joka42/po/uiscaler@joka42
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
  uiscaler@joka42/info.json
  uiscaler@joka42/screenshot.png
Owners: none

weather@mockturtl: Update French translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
