Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

add es.po
  calendar@ccprog/files/calendar@ccprog/po/es.po
Owners: @ccprog

add es.po
  calendar@simonwiles.net/files/calendar@simonwiles.net/po/es.po
Owners: @simonwiles

add es.po
  clipboard-qr@wrouesnel/files/clipboard-qr@wrouesnel/po/es.po
Owners: @wrouesnel

add es.po
  color-picker@fmete/files/color-picker@fmete/po/es.po
Owners: @icarter09

add es.po
  radio@driglu4it/files/radio@driglu4it/po/es.po
Owners: @jonath92

add es.po
  sysmonitor@orcus/files/sysmonitor@orcus/po/es.po
Owners: @orcuscz

IP Indicator: fix #3800 Home icon not displayed
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

IP Indicator: further improves #3800 Home icon not displayed
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

IP Indicator: Further improve #3800 Home icon not displayed
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

Update es.po
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/po/es.po
Owners: @NikoKrause

update es.po
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

update es.po (#4094)
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

Update es.po (#4093)
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/po/es.po
Owners: @NikoKrause

add es.po (#4089)
  color-picker@fmete/files/color-picker@fmete/po/es.po
Owners: @icarter09

add es.po (#4085)
  brightness-and-gamma-applet@cardsurf/files/brightness-and-gamma-applet@cardsurf/po/es.po
Owners: @cardsurf

add es.po (#4091)
  sysmonitor@orcus/files/sysmonitor@orcus/po/es.po
Owners: @orcuscz

add es.po (#4086)
  calendar@ccprog/files/calendar@ccprog/po/es.po
Owners: @ccprog

add es.po (#4090)
  radio@driglu4it/files/radio@driglu4it/po/es.po
Owners: @jonath92

add es.po (#4088)
  clipboard-qr@wrouesnel/files/clipboard-qr@wrouesnel/po/es.po
Owners: @wrouesnel

add es.po (#4087)
  calendar@simonwiles.net/files/calendar@simonwiles.net/po/es.po
Owners: @simonwiles

IP Indicator: fix #3800 Home icon not displayed (#4092)
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

weather@mockturtl: improve french translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

Updating IP services
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

add es.po
  ScreenShot+RecordDesktop@tech71/files/ScreenShot+RecordDesktop@tech71/po/es.po
Owners: @icarter09

add es.po
  ScreenShot@tech71/files/ScreenShot@tech71/po/es.po
Owners: none

add es.po
  pa-equalizer@jschug.com/files/pa-equalizer@jschug.com/po/es.po
Owners: none

add es.po
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/es.po
Owners: none

add es.po
  text-to-speech-applet@cardsurf/files/text-to-speech-applet@cardsurf/po/es.po
Owners: @cardsurf

Clean up tsconfig
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/tsconfig.json
  weather@mockturtl/src/3_8/types.ts
Owners: @mockturtl

Change old version string to the current one
  weather@mockturtl/files/weather@mockturtl/3.0/settings-schema.json
Owners: @mockturtl

Adhere to stricter typechecking
  .typescript-declarations/cinnamon/globals.d.ts
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/lib/io_lib.ts
  weather@mockturtl/src/3_8/lib/logger.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/types.ts
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiCurrentWeather.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Finish transitioning to stricter typechecking
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/loop.ts
Owners: @mockturtl

Make sure OpenWeatherMap can open it's website to the correct location
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
Owners: @mockturtl

Prevent extra unneeded refreshes on network changes
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/metadata.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/loop.ts
  weather@mockturtl/src/3_8/main.ts
Owners: @mockturtl

Add docstrings
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/loop.ts
Owners: @mockturtl

Add to changelog
  weather@mockturtl/CHANGELOG.md
Owners: @mockturtl

Change default config for forecast columns
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
Owners: @mockturtl

Delete he.po
  weather@mockturtl/files/weather@mockturtl/po/he.po
Owners: @mockturtl

weather@mockturtl: Hebrew .po update for ver3.1.6
  weather@mockturtl/files/weather@mockturtl/po/he.po
Owners: @mockturtl

added keyboard shortcut to open / close popup menu of calc
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/settings-schema.json
  calc@ptandler/files/calc@ptandler/stylesheet.css
Owners: none
