Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

add es.po (#4112)
  restart-cinnamon@kolle/files/restart-cinnamon@kolle/po/es.po
Owners: @icarter09

uiscaler default 100% settings are actual default for Mint 20.2 + 20.3 (#4110)
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

Updating IP services (#4097)
  ipindicator@matus.benko@gmail.com/files/ipindicator@matus.benko@gmail.com/applet.js
Owners: @PrimaMateria

feat: add action to clear history via Ctrl-Shift-Del
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/helpText.js
Owners: none

fix: selection text color is now white to be readable
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/stylesheet.css
Owners: none

feat: add builtin functions to display numbers as hex, binary, or octal
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/helpText.js
Owners: none

v1.0
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/metadata.json
Owners: none

calendar@simonwiles.net: require gtk 3.0 for settings window
  calendar@simonwiles.net/files/calendar@simonwiles.net/world_clock_calendar_settings.py
Owners: @simonwiles

add es.po
  localipswithsettings@edaubert/files/localipswithsettings@edaubert/po/es.po
Owners: @edaubert

add es.po
  system-monitor@spacy01/files/system-monitor@spacy01/po/es.po
Owners: @spacy01

add es.po
  CustomApplicationsMenu@LLOBERA/files/CustomApplicationsMenu@LLOBERA/po/es.po
Owners: @Nicolas01

add es.po
  cpu-monitor-text@gnemonix/files/cpu-monitor-text@gnemonix/po/es.po
Owners: @gnemonix

add es.po
  screen-inhibit@mtwebster/files/screen-inhibit@mtwebster/po/es.po
Owners: none

add es.po
  mem-monitor-text@datanom.net/files/mem-monitor-text@datanom.net/po/es.po
Owners: @icarter09

add es.po
  hwmonitor@sylfurd/files/hwmonitor@sylfurd/po/es.po
Owners: @hultan

update es.po
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

add es.po (#4128)
  hwmonitor@sylfurd/files/hwmonitor@sylfurd/po/es.po
Owners: @hultan

add es.po (#4121)
  localipswithsettings@edaubert/files/localipswithsettings@edaubert/po/es.po
Owners: @edaubert

update es.po (#4129)
  Cinnamenu@json/files/Cinnamenu@json/po/es.po
Owners: @fredcw

add es.po (#4122)
  system-monitor@spacy01/files/system-monitor@spacy01/po/es.po
Owners: @spacy01

add es.po (#4125)
  screen-inhibit@mtwebster/files/screen-inhibit@mtwebster/po/es.po
Owners: none

add es.po (#4123)
  CustomApplicationsMenu@LLOBERA/files/CustomApplicationsMenu@LLOBERA/po/es.po
Owners: @Nicolas01

add es.po (#4124)
  cpu-monitor-text@gnemonix/files/cpu-monitor-text@gnemonix/po/es.po
Owners: @gnemonix

add es.po (#4126)
  mem-monitor-text@datanom.net/files/mem-monitor-text@datanom.net/po/es.po
Owners: @icarter09

removed obsolete stuff and added license
  batterypower@joka42/LICENSE.md
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/icon.png
  batterypower@joka42/files/batterypower@joka42/metadata.json
  batterypower@joka42/files/batterypower@joka42/settings-schema.json
  batterypower@joka42/info.json
  batterypower@joka42/screenshot.png
Owners: none

removed old version
  wattusage@joka42/.eslintrc.json
  wattusage@joka42/.gitignore
  wattusage@joka42/files/wattusage@joka42/applet.js
  wattusage@joka42/files/wattusage@joka42/icon.png
  wattusage@joka42/files/wattusage@joka42/metadata.json
  wattusage@joka42/files/wattusage@joka42/po/bg.po
  wattusage@joka42/files/wattusage@joka42/po/cs.po
  wattusage@joka42/files/wattusage@joka42/po/da.po
  wattusage@joka42/files/wattusage@joka42/po/de.po
  wattusage@joka42/files/wattusage@joka42/po/fr.po
  wattusage@joka42/files/wattusage@joka42/po/hr.po
  wattusage@joka42/files/wattusage@joka42/po/hu.po
  wattusage@joka42/files/wattusage@joka42/po/it.po
  wattusage@joka42/files/wattusage@joka42/po/nl.po
  wattusage@joka42/files/wattusage@joka42/po/pl.po
  wattusage@joka42/files/wattusage@joka42/po/pt.po
  wattusage@joka42/files/wattusage@joka42/po/pt_BR.po
  wattusage@joka42/files/wattusage@joka42/po/ro.po
  wattusage@joka42/files/wattusage@joka42/po/ru.po
  wattusage@joka42/files/wattusage@joka42/po/sv.po
  wattusage@joka42/files/wattusage@joka42/po/temperature@fevimu.pot
  wattusage@joka42/files/wattusage@joka42/po/tr.po
  wattusage@joka42/files/wattusage@joka42/po/zh_CN.po
  wattusage@joka42/files/wattusage@joka42/settings-schema.json
  wattusage@joka42/info.json
  wattusage@joka42/locale.sh
  wattusage@joka42/package.json
  wattusage@joka42/screenshot.png
Owners: none

removed obsolete stuff
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

cleaned imports
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

updated screenshot
  batterypower@joka42/screenshot.png
Owners: none

updated icon
  batterypower@joka42/files/batterypower@joka42/icon.png
Owners: none

charging indicator added and tooltips adapted to charging state
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

cleaned code
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

reset readme ui-scaler
  uiscaler@joka42/README.md
Owners: none

update es.po
  sound150@claudiux/files/sound150@claudiux/po/es.po
Owners: @claudiux

updated for the case that battery is fully charged
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/settings-schema.json
Owners: none

add es.po
  SW++@mohammad-sn/files/SW++@mohammad-sn/po/es.po
Owners: @mohammad-sn

refactored applet label setting
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

add es.po (#4132)
  SW++@mohammad-sn/files/SW++@mohammad-sn/po/es.po
Owners: @mohammad-sn

weather@mockturtl update 3.1.7 (#4103)
  .typescript-declarations/cinnamon/globals.d.ts
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/3.0/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/metadata.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/package.json
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/lib/io_lib.ts
  weather@mockturtl/src/3_8/lib/logger.ts
  weather@mockturtl/src/3_8/loop.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/tsconfig.json
  weather@mockturtl/src/3_8/types.ts
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiCurrentWeather.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

add es.po
  bettersettings@bownz/files/bettersettings@bownz/po/es.po
Owners: none
