Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

fixed comment
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

removed obsolete line
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

removed updated during initialization
  batterypower@joka42/files/batterypower@joka42/applet.js
Owners: none

weather@mockturtl: improve french translation (#4193)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

batterypower@joka42 added Upower as source, if battery files are not found (#4198)
  batterypower@joka42/.gitignore
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/update_upower.py
Owners: none

Use const where it's possible
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/lib/io_lib.ts
  weather@mockturtl/src/3_8/lib/logger.ts
  weather@mockturtl/src/3_8/lib/notification_service.ts
  weather@mockturtl/src/3_8/location_services/ipApi.ts
  weather@mockturtl/src/3_8/location_services/locationstore.ts
  weather@mockturtl/src/3_8/location_services/nominatim.ts
  weather@mockturtl/src/3_8/loop.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/tsconfig.json
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiBar.ts
  weather@mockturtl/src/3_8/ui_elements/uiCurrentWeather.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Use abstraction for EnsureProvider instead of big switch statement
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/BaseProvider.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
Owners: @mockturtl

Use for of loops where it makes sense
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/events.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/location_services/locationstore.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Fix incorrect date parsing in weatherbit
  weather@mockturtl/src/3_8/providers/weatherbit.ts
Owners: @mockturtl

Update Typescript declarations with changes in npm package
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/CMenu-3.0.d.ts
  .typescript-declarations/Caribou-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cvc-1.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/Meta-3.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
  .typescript-declarations/XApp-1.0.d.ts
  .typescript-declarations/cinnamon/globals.d.ts
  .typescript-declarations/cinnamon/ui/applet.d.ts
  .typescript-declarations/cinnamon/ui/layout.d.ts
  .typescript-declarations/cinnamon/ui/modalDialog.d.ts
  .typescript-declarations/cinnamon/ui/settings.d.ts
  .typescript-declarations/cinnamon/ui/tooltips.d.ts
  .typescript-declarations/manual-overrides/St-1.0.d.ts
  .typescript-declarations/xfixes-4.0.d.ts
  .typescript-declarations/xrandr-1.3.d.ts
Owners: none

FIX #4201
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/metadata.json
  radio@driglu4it/src/services/mpv/MpvHandler.ts
  radio@driglu4it/webpack.config.js
Owners: @jonath92

Add changes to changelog
  weather@mockturtl/CHANGELOG.md
Owners: @mockturtl

add es.po
  diaspora-notif@douze12/files/diaspora-notif@douze12/po/es.po
Owners: none

add es.po
  tzclock@lhriley/files/tzclock@lhriley/po/es.po
Owners: @lhriley

add es.po
  timeout@narutrey/files/timeout@narutrey/po/es.po
Owners: @narutrey

add es.po
  lorem@vxstorm/files/lorem@vxstorm/po/es.po
Owners: none

es.po
  ioDisk@ctrlesc/files/ioDisk@ctrlesc/po/es.po
Owners: @ctrlesc

add es.po
  location-detection@heimdall/files/location-detection@heimdall/po/es.po
Owners: none

Make OWM payload typed
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/types.ts
Owners: @mockturtl

Added ukrainian translation
  pomodoro@gregfreeman.org/files/pomodoro@gregfreeman.org/po/uk.po
Owners: @gfreeau

add es.po (#4206)
  tzclock@lhriley/files/tzclock@lhriley/po/es.po
Owners: @lhriley

FIX #4201 (#4203)
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/metadata.json
  radio@driglu4it/src/services/mpv/MpvHandler.ts
  radio@driglu4it/webpack.config.js
Owners: @jonath92

add es.po (#4205)
  diaspora-notif@douze12/files/diaspora-notif@douze12/po/es.po
Owners: none

Added ukrainian translation (#4211)
  pomodoro@gregfreeman.org/files/pomodoro@gregfreeman.org/po/uk.po
Owners: @gfreeau

es.po (#4209)
  ioDisk@ctrlesc/files/ioDisk@ctrlesc/po/es.po
Owners: @ctrlesc

add es.po (#4207)
  timeout@narutrey/files/timeout@narutrey/po/es.po
Owners: @narutrey

add es.po (#4210)
  location-detection@heimdall/files/location-detection@heimdall/po/es.po
Owners: none

add es.po (#4208)
  lorem@vxstorm/files/lorem@vxstorm/po/es.po
Owners: none

Added ukrainian translation
  collapsible-systray@feuerfuchs.eu/files/collapsible-systray@feuerfuchs.eu/po/uk.po
Owners: @feuerfuchs

Added ukrainian translation (#4212)
  collapsible-systray@feuerfuchs.eu/files/collapsible-systray@feuerfuchs.eu/po/uk.po
Owners: @feuerfuchs

weather@mockturtl: Czech translation update
  weather@mockturtl/files/weather@mockturtl/po/cs.po
Owners: @mockturtl

CinnVIIStarkMenu@NikoKrause: Correctly colour symbolic icons in quicklauncher
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/4.2/applet.js
Owners: @NikoKrause

weather@mockturtl: Czech translation update (#4213)
  weather@mockturtl/files/weather@mockturtl/po/cs.po
Owners: @mockturtl

CinnVIIStarkMenu@NikoKrause: Correctly colour symbolic icons in quicklauncher (#4214)
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/4.2/applet.js
Owners: @NikoKrause

weather@mockturtl update 3.1.9 (#4197)
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/metadata.json
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/package.json
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/lib/commandRunner.ts
  weather@mockturtl/src/3_8/lib/events.ts
  weather@mockturtl/src/3_8/lib/httpLib.ts
  weather@mockturtl/src/3_8/lib/io_lib.ts
  weather@mockturtl/src/3_8/lib/logger.ts
  weather@mockturtl/src/3_8/lib/notification_service.ts
  weather@mockturtl/src/3_8/location_services/ipApi.ts
  weather@mockturtl/src/3_8/location_services/locationstore.ts
  weather@mockturtl/src/3_8/location_services/nominatim.ts
  weather@mockturtl/src/3_8/loop.ts
  weather@mockturtl/src/3_8/main.ts
  weather@mockturtl/src/3_8/providers/BaseProvider.ts
  weather@mockturtl/src/3_8/providers/climacellV4.ts
  weather@mockturtl/src/3_8/providers/danishMI.ts
  weather@mockturtl/src/3_8/providers/darkSky.ts
  weather@mockturtl/src/3_8/providers/met_norway.ts
  weather@mockturtl/src/3_8/providers/met_uk.ts
  weather@mockturtl/src/3_8/providers/openWeatherMap.ts
  weather@mockturtl/src/3_8/providers/us_weather.ts
  weather@mockturtl/src/3_8/providers/visualcrossing.ts
  weather@mockturtl/src/3_8/providers/weatherbit.ts
  weather@mockturtl/src/3_8/tsconfig.json
  weather@mockturtl/src/3_8/types.ts
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiBar.ts
  weather@mockturtl/src/3_8/ui_elements/uiCurrentWeather.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
  weather@mockturtl/weather@mockturtl.code-workspace
Owners: @mockturtl

Update Typescript declarations with changes in npm package (#4202)
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/CMenu-3.0.d.ts
  .typescript-declarations/Caribou-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cvc-1.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/Meta-3.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
  .typescript-declarations/XApp-1.0.d.ts
  .typescript-declarations/cinnamon/globals.d.ts
  .typescript-declarations/cinnamon/ui/applet.d.ts
  .typescript-declarations/cinnamon/ui/layout.d.ts
  .typescript-declarations/cinnamon/ui/modalDialog.d.ts
  .typescript-declarations/cinnamon/ui/settings.d.ts
  .typescript-declarations/cinnamon/ui/tooltips.d.ts
  .typescript-declarations/manual-overrides/St-1.0.d.ts
  .typescript-declarations/xfixes-4.0.d.ts
  .typescript-declarations/xrandr-1.3.d.ts
Owners: none

AccuWeather skeleton
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/providers/accuWeather.ts
Owners: @mockturtl

weather@mockturtl: Dutch translation for version 3.1.9
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

remove cinnamonpopu
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/metadata.json
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/PopupMenu.ts
  radio@driglu4it/src/ui/RadioPopupMenu/RadioPopupMenu.ts
  radio@driglu4it/webpack.config.js
Owners: @jonath92

update readme
  radio@driglu4it/README.md
  radio@driglu4it/src/ui/RadioApplet/RadioAppletContainer.ts
Owners: @jonath92

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
