Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

update readme
  uiscaler@joka42/README.md
Owners: none

weather@mockturtl: Update French translation (#4047)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

Update Spanish translation by venom0099@protonmail.com
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

Update Spanish translation by venom0099@protonmail.com (#4050)
  weather@mockturtl/files/weather@mockturtl/po/es.po
Owners: @mockturtl

weather@mockturtl: Update for Dutch translation for version 3.1.6
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

update types
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/ActivWidget.ts
  radio@driglu4it/src/lib/Slider.ts
  radio@driglu4it/src/mpv/MpvHandler.ts
  radio@driglu4it/src/ui/Applet/Applet.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

return false on click or key-press of active widget
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/src/lib/ActivWidget.ts
Owners: @jonath92

watt usage plotter files added
  wattusage@joka42/.eslintrc.json
  wattusage@joka42/.gitignore
  wattusage@joka42/files/wattusage@joka42/applet.js
  wattusage@joka42/files/wattusage@joka42/icon.png
  wattusage@joka42/files/wattusage@joka42/metadata.json
  wattusage@joka42/files/wattusage@joka42/po/bg.po
  wattusage@joka42/files/wattusage@joka42/po/cs.po
  wattusage@joka42/files/wattusage@joka42/po/da.po
  wattusage@joka42/files/wattusage@joka42/po/de.po
  wattusage@joka42/files/wattusage@joka42/po/fr.po
  wattusage@joka42/files/wattusage@joka42/po/hr.po
  wattusage@joka42/files/wattusage@joka42/po/hu.po
  wattusage@joka42/files/wattusage@joka42/po/it.po
  wattusage@joka42/files/wattusage@joka42/po/nl.po
  wattusage@joka42/files/wattusage@joka42/po/pl.po
  wattusage@joka42/files/wattusage@joka42/po/pt.po
  wattusage@joka42/files/wattusage@joka42/po/pt_BR.po
  wattusage@joka42/files/wattusage@joka42/po/ro.po
  wattusage@joka42/files/wattusage@joka42/po/ru.po
  wattusage@joka42/files/wattusage@joka42/po/sv.po
  wattusage@joka42/files/wattusage@joka42/po/temperature@fevimu.pot
  wattusage@joka42/files/wattusage@joka42/po/tr.po
  wattusage@joka42/files/wattusage@joka42/po/zh_CN.po
  wattusage@joka42/files/wattusage@joka42/settings-schema.json
  wattusage@joka42/gulpfile.js
  wattusage@joka42/info.json
  wattusage@joka42/locale.sh
  wattusage@joka42/package.json
  wattusage@joka42/screenshot.png
Owners: none

basic fuctionality working
  wattusage@joka42/files/wattusage@joka42/applet.js
  wattusage@joka42/gulpfile.js
Owners: none

remove gulp
  wattusage@joka42/gulpfile.js
Owners: none

renamed function and removed obsolete code
  wattusage@joka42/files/wattusage@joka42/applet.js
Owners: none

removed obsolete code
  wattusage@joka42/files/wattusage@joka42/applet.js
Owners: none

renamed functions
  wattusage@joka42/files/wattusage@joka42/applet.js
Owners: none

removed obsolete functions
  wattusage@joka42/files/wattusage@joka42/applet.js
Owners: none

removed unnecessary function
  wattusage@joka42/files/wattusage@joka42/applet.js
Owners: none

updated settings
  wattusage@joka42/files/wattusage@joka42/applet.js
  wattusage@joka42/files/wattusage@joka42/settings-schema.json
  wattusage@joka42/locale.sh
Owners: none

Add option to change wallpaper with mode change
  darkMode@linuxedo.com/README.md
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/applet.js
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/metadata.json
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/darkMode@linuxedo.com.pot
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/settings-schema.json
Owners: none

Fix notify signal callback signature, add Event:type function back and add generated Meta
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/CMenu-3.0.d.ts
  .typescript-declarations/Caribou-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cvc-1.0.d.ts
  .typescript-declarations/GLib-2.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/HarfBuzz-0.0.d.ts
  .typescript-declarations/Meta-3.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
  .typescript-declarations/manual-overrides/ByteArray.d.ts
  .typescript-declarations/manual-overrides/Meta.d.ts
Owners: none

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Fix bug causing selected app to flicker while ...
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
Owners: @fredcw

screen-inhibit@mtwebster: Don't check for cinnamon-control-center when launching screensaver settings.
  screen-inhibit@mtwebster/files/screen-inhibit@mtwebster/applet.js
Owners: none

screen-inhibit@mtwebster: Don't check for cinnamon-control-center when launching screensaver settings.
  screen-inhibit@mtwebster/files/screen-inhibit@mtwebster/applet.js
Owners: none

uiscaler@joka42: Fix potfile name
  uiscaler@joka42/files/uiscaler@joka42/po/uiscaler@joka42.pot
Owners: none

translation-tables.py: Skip applets without a potfile.
  .translation-tables/translation-tables.py
Owners: none

readded possibility to run apps with keypress
  app-launcher@mchilli/files/app-launcher@mchilli/applet.js
Owners: none

added hotkey functionality
  app-launcher@mchilli/files/app-launcher@mchilli/applet.js
  app-launcher@mchilli/files/app-launcher@mchilli/settings-schema.json
Owners: none

updated .*pot file and german translation
  app-launcher@mchilli/files/app-launcher@mchilli/po/app-launcher@mchilli.pot
  app-launcher@mchilli/files/app-launcher@mchilli/po/de.po
Owners: none

added spanish translation by @haggen88
  app-launcher@mchilli/files/app-launcher@mchilli/po/es.po
Owners: none

[Cinnamenu@json] Flickering icon when searching bug fix. (#4060)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

app-launcher@mchilli: added hotkey, spanish tranlation (#4062)
  app-launcher@mchilli/files/app-launcher@mchilli/applet.js
  app-launcher@mchilli/files/app-launcher@mchilli/po/de.po
  app-launcher@mchilli/files/app-launcher@mchilli/po/es.po
  app-launcher@mchilli/files/app-launcher@mchilli/settings-schema.json
Owners: none

weather@mockturtl: Update for Dutch translation for version 3.1.6 (#4052)
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

Add option to change wallpaper with mode change (#4057)
  darkMode@linuxedo.com/README.md
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/applet.js
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/metadata.json
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/darkMode@linuxedo.com.pot
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/settings-schema.json
Owners: none

Fix notify signal callback signature, add Event:type function back and add generated Meta (#4058)
  .typescript-declarations/Atk-1.0.d.ts
  .typescript-declarations/CMenu-3.0.d.ts
  .typescript-declarations/Caribou-1.0.d.ts
  .typescript-declarations/Cinnamon-0.1.d.ts
  .typescript-declarations/CinnamonDesktop-3.0.d.ts
  .typescript-declarations/Clutter-1.0.d.ts
  .typescript-declarations/ClutterX11-1.0.d.ts
  .typescript-declarations/Cvc-1.0.d.ts
  .typescript-declarations/GLib-2.0.d.ts
  .typescript-declarations/GObject-2.0.d.ts
  .typescript-declarations/Gdk-3.0.d.ts
  .typescript-declarations/GdkPixbuf-2.0.d.ts
  .typescript-declarations/Gio-2.0.d.ts
  .typescript-declarations/Gst-1.0.d.ts
  .typescript-declarations/Gtk-3.0.d.ts
  .typescript-declarations/HarfBuzz-0.0.d.ts
  .typescript-declarations/Meta-3.0.d.ts
  .typescript-declarations/Pango-1.0.d.ts
  .typescript-declarations/Soup-2.4.d.ts
  .typescript-declarations/St-1.0.d.ts
  .typescript-declarations/WebKit2-4.0.d.ts
  .typescript-declarations/manual-overrides/ByteArray.d.ts
  .typescript-declarations/manual-overrides/Meta.d.ts
Owners: none

always return false
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/ActivWidget.ts
  radio@driglu4it/src/lib/Slider.ts
  radio@driglu4it/src/mpv/MpvHandler.ts
  radio@driglu4it/src/ui/Applet/Applet.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

darkMode@linuxedo.com: Update tr.po
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/tr.po
Owners: none

Fix: fr.po weather@mockturtl
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

Small fixes
  clipboard-eraser@Techcrafter/info.json
  gputemperature@silentage.com/files/gputemperature@silentage.com/applet.js
Owners: none

clipboard-eraser: Fix json file
  clipboard-eraser@Techcrafter/info.json
Owners: none

improved README.md
  app-launcher@mchilli/README.md
Owners: none

improved README.md (#4066)
  app-launcher@mchilli/README.md
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
