Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

darkMode@linuxedo.com: Update tr.po (#4064)
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/tr.po
Owners: none

Fix: fr.po weather@mockturtl (#4065)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

[radio@driglu4it] update types (#4054)
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/package.json
  radio@driglu4it/src/lib/ActivWidget.ts
  radio@driglu4it/src/lib/Slider.ts
  radio@driglu4it/src/mpv/MpvHandler.ts
  radio@driglu4it/src/ui/Applet/Applet.ts
  radio@driglu4it/src/ui/VolumeSlider.ts
Owners: @jonath92

add spanish translation
  cpufreq@mtwebster/files/cpufreq@mtwebster/po/es.po
Owners: none

add strict mode
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/4.6/settings-schema.json
  radio@driglu4it/jest.config.js
  radio@driglu4it/package.json
  radio@driglu4it/src/ChannelStore.ts
  radio@driglu4it/src/Config.ts
  radio@driglu4it/src/functions/downloadFromYoutube.ts
  radio@driglu4it/src/functions/limitString.ts
  radio@driglu4it/src/index.ts
  radio@driglu4it/src/lib/IconMenuItem.ts
  radio@driglu4it/src/lib/Slider.ts
  radio@driglu4it/src/mpv/CheckInstallation.ts
  radio@driglu4it/src/mpv/MpvHandler.ts
  radio@driglu4it/src/polyfill.ts
  radio@driglu4it/src/tsconfig.json
  radio@driglu4it/src/types.ts
  radio@driglu4it/src/ui/Applet/Applet.ts
  radio@driglu4it/src/ui/Applet/AppletLabel.ts
  radio@driglu4it/src/ui/Applet/AppletTooltip.ts
  radio@driglu4it/src/ui/ChannelList/ChannelList.ts
  radio@driglu4it/src/ui/Toolbar/PlayPauseButton.ts
  radio@driglu4it/tests/__tests__/functions/downloadFromYoutube.ts
  radio@driglu4it/tests/__tests__/lib/IconMenuItem.ts
  radio@driglu4it/tests/__tests__/mpv/MpvHandler.ts
  radio@driglu4it/tests/__tests__/ui/ChannelList/ChannelList.ts
  radio@driglu4it/tests/utils/MpvMock.ts
  radio@driglu4it/tsconfig-base.json
  radio@driglu4it/tsconfig.json
Owners: @jonath92

weather@mockturtl Update sv.po 3.1.6
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

validate-spice: Improve error handling, add check for info.json.
  validate-spice
Owners: none

add spanish translation (#4068)
  cpufreq@mtwebster/files/cpufreq@mtwebster/po/es.po
Owners: none

weather@mockturtl Update sv.po 3.1.6 (#4069)
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

add spanish translation
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/es.po
Owners: @jaszhix

sysmonitor@orcus: Update sv.po
  sysmonitor@orcus/files/sysmonitor@orcus/po/sv.po
Owners: @orcuscz

add spanish translation (#4072)
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/es.po
Owners: @jaszhix

sysmonitor@orcus: Update sv.po (#4073)
  sysmonitor@orcus/files/sysmonitor@orcus/po/sv.po
Owners: @orcuscz

Update es.po
  pomodoro@gregfreeman.org/files/pomodoro@gregfreeman.org/po/es.po
Owners: @gfreeau

Add Spanish translation
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/es.po
Owners: none

Update es.po (#4074)
  pomodoro@gregfreeman.org/files/pomodoro@gregfreeman.org/po/es.po
Owners: @gfreeau

Add Spanish translation (#4076)
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/es.po
Owners: none

add spanish translation
  qredshift@quintao/files/qredshift@quintao/po/es.po
Owners: @raphaelquintao

add spanish translation (#4077)
  qredshift@quintao/files/qredshift@quintao/po/es.po
Owners: @raphaelquintao

add spanish translation
  temperature@fevimu/files/temperature@fevimu/po/es.po
Owners: @claudiux

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Add "uninstall" context menu option...
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/utils.js
Owners: @fredcw

Add connectivity check, fix build issues
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/package.json
  weather@mockturtl/src/3_8/main.ts
Owners: @mockturtl

add spanish translation (#4078)
  temperature@fevimu/files/temperature@fevimu/po/es.po
Owners: @claudiux

[Cinnamenu@json] Add "uninstall" context menu option. (#4079)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/utils.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

add spanish translation
  download-and-upload-speed@cardsurf/files/download-and-upload-speed@cardsurf/po/es.po
Owners: @cardsurf

[octopussy@centurix] Use URL from settings instead of default
  octopussy@centurix/files/octopussy@centurix/applet.js
Owners: @centurix

Add Hungarian translation of radio applet
  radio@driglu4it/files/radio@driglu4it/po/hu.po
Owners: @jonath92

Add Hungarian translation of app-launcher applet
  app-launcher@mchilli/files/app-launcher@mchilli/po/hu.po
Owners: none

Add Hungarian translation of weather applet
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @mockturtl

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Fix search delay bug
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
Owners: @fredcw

converted the Mini-Calc desklet to an applet
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/icon.png
  calc@ptandler/files/calc@ptandler/metadata.json
  calc@ptandler/files/calc@ptandler/stylesheet.css
  calc@ptandler/info.json
Owners: none

added icon for panel
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/icon.svg
Owners: none

README.md: added link to CJS in github incl docs and examples
  calc@ptandler/README.md
Owners: none

[Cinnamenu@json] Fix search delay bug (#4084)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Updated Hungarian translation (#4083)
  app-launcher@mchilli/files/app-launcher@mchilli/po/hu.po
  radio@driglu4it/files/radio@driglu4it/po/hu.po
  weather@mockturtl/files/weather@mockturtl/po/hu.po
Owners: @jonath92, @mockturtl

add spanish translation (#4081)
  download-and-upload-speed@cardsurf/files/download-and-upload-speed@cardsurf/po/es.po
Owners: @cardsurf

[octopussy@centurix] Use URL from settings instead of default (#4082)
  octopussy@centurix/files/octopussy@centurix/applet.js
Owners: @centurix

add es.po
  brightness-and-gamma-applet@cardsurf/files/brightness-and-gamma-applet@cardsurf/po/es.po
Owners: @cardsurf

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
