Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @jebeaudet, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @mchilli, @SamBurgos, @Sokawaii25, @pdcurtis, @joka42, @simonmicro, @nodeengineer, @Starcross, @cardsurf, @ptandler, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @Techcrafter, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @slgobinath, @andr35, @tim-we, @ludvigbostrom, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @pbojan, @ipolozov, @hultan, @somboku, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @mindbeat, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @Gr3q, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

Updated Bulgarian Translation
  weather@mockturtl/files/weather@mockturtl/po/bg.po
Owners: @Gr3q

Update applet.js to fix #4770
  vboxlauncher@mockturtl/files/vboxlauncher@mockturtl/applet.js
Owners: @mockturtl

kdecapplet@joejoetv: Add initial support for KDE Connect 22.12.3
  kdecapplet@joejoetv/files/kdecapplet@joejoetv/applet.js
Owners: @JoeJoeTV

Updated Bulgarian Translation (#4769)
  weather@mockturtl/files/weather@mockturtl/po/bg.po
Owners: @Gr3q

Add fr.po - French translation (#4766)
  search-box@mtwebster/files/search-box@mtwebster/po/fr.po
Owners: none

New fi.po radio@driglu4it (#4750)
  radio@driglu4it/files/radio@driglu4it/po/fi.po
Owners: @jonath92

Remove rprego@rprego.com (#4759)
  rprego@rprego.com/files/rprego@rprego.com/applet.js
  rprego@rprego.com/files/rprego@rprego.com/icon.png
  rprego@rprego.com/files/rprego@rprego.com/metadata.json
  rprego@rprego.com/info.json
  rprego@rprego.com/screenshot.png
Owners: none

Update applet.js to fix #4770 (#4771)
  vboxlauncher@mockturtl/files/vboxlauncher@mockturtl/applet.js
Owners: @mockturtl

[multicore-sys-monitor@ccadeptic23] v1.9.1 - Add the possibility to choose the thickness of the curves (#4767)
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/ConfigSettings.js
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/Graphs.js
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/SpawnProcess.js
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/prefs.js
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/prefsui.glade
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/4.0/tostring.js
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/metadata.json
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/bg.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/da.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/de.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/es.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/fi.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/fr.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/hr.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/hu.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/it.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/ja.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/multicore-sys-monitor.pot
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/pl.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/ro.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/ru.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/sv.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/tr.po
  multicore-sys-monitor@ccadeptic23/files/multicore-sys-monitor@ccadeptic23/po/zh_CN.po
  multicore-sys-monitor@ccadeptic23/locale.sh
Owners: @jaszhix

Added wakatimedisplay@inventor96 (#4666)
  wakatimedisplay@inventor96/README.md
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/applet.js
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/icon.png
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/icons/wakatime-black.svg
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/icons/wakatime-white.svg
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/metadata.json
  wakatimedisplay@inventor96/files/wakatimedisplay@inventor96/settings-schema.json
  wakatimedisplay@inventor96/info.json
  wakatimedisplay@inventor96/screenshot.png
Owners: none

Add gamemode@axel358 (#4681)
  gamemode@axel358/README.md
  gamemode@axel358/files/gamemode@axel358/applet.js
  gamemode@axel358/files/gamemode@axel358/icon.png
  gamemode@axel358/files/gamemode@axel358/metadata.json
  gamemode@axel358/info.json
  gamemode@axel358/screenshot.png
Owners: none

Add files via upload
  Radio3.0@claudiux/files/Radio3.0@claudiux/po/ru.po
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
MuteToggler@jebeaudet.com/**                       @jebeaudet
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
app-launcher@mchilli/**                            @mchilli
asl@santiago/**                                    @SamBurgos
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
batterypower@joka42/**                             @joka42
better-backgrounds@simonmicro/**                   @simonmicro
bible@nodeengineer.com/**                          @nodeengineer
bing-wallpaper@starcross.dev/**                    @Starcross
bose@tuuxx/**                                      @tuuxx
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calc-js@ptandler/**                                @ptandler
calc@ptandler/**                                   @ptandler
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-eraser@Techcrafter/**                    @Techcrafter
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
darkMode@linuxedo.com/**                           @slgobinath
ddcci-monitor-control@andr35/**                    @andr35
ddcci-multi-monitor@tim-we/**                      @tim-we
devbar@ludvigbostrom/**                            @ludvigbostrom
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
googledrive@pbojan/**                              @pbojan
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @somboku
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rswitcher@nixdev.com/**                            @mindbeat
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
uiscaler@joka42/**                                 @joka42
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @Gr3q
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# azan@fahri.nurul.id
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99
