Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @klangman, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @jebeaudet, @claudiux, @mohammad-sn, @tuuxx, @icarter09, @jaszhix, @mchilli, @SamBurgos, @Sokawaii25, @pdcurtis, @joka42, @simonmicro, @nodeengineer, @Starcross, @zamszowy, @cardsurf, @anaximeno, @ptandler, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @Techcrafter, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @slgobinath, @andr35, @tim-we, @hkoosha, @ludvigbostrom, @bpivaty, @Hukuta, @not-a-feature, @axel358, @jamesmorgan, @lauritsriple, @brett-smith, @pbojan, @ipolozov, @hultan, @sangorys, @somboku, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @rcalixte, @linux-man, @pixunil, @thbemme, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @mindbeat, @jerrywham, @hulygun, @NadhirBenLazhar, @JDatPNW, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @inventor96, @amaan-mohib, @Gr3q, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CassiaWindowList@klangman/**                       @klangman
CinnVIIStarkMenu@NikoKrause/**                     @fredcw
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
MuteToggler@jebeaudet.com/**                       @jebeaudet
Radio3.0@claudiux/**                               @claudiux
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
VPN-Sentinel@claudiux/**                           @claudiux
app-launcher@mchilli/**                            @mchilli
asl@santiago/**                                    @SamBurgos
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
batterypower@joka42/**                             @joka42
better-backgrounds@simonmicro/**                   @simonmicro
bible@nodeengineer.com/**                          @nodeengineer
bing-wallpaper@starcross.dev/**                    @Starcross
bluetooth-battery@zamszowy/**                      @zamszowy
bose@tuuxx/**                                      @tuuxx
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
c-eyes@anaximeno/**                                @anaximeno
calc-js@ptandler/**                                @ptandler
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-eraser@Techcrafter/**                    @Techcrafter
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
darkMode@linuxedo.com/**                           @slgobinath
ddcci-monitor-control@andr35/**                    @andr35
ddcci-multi-monitor@tim-we/**                      @tim-we
desaturate-all@hkoosha/**                          @hkoosha
devbar@ludvigbostrom/**                            @ludvigbostrom
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
duolingo-helper@nodeengineer.com/**                @nodeengineer
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
fw_fanctrl@juleskreuer.eu/**                       @not-a-feature
gamemode@axel358/**                                @axel358
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
googledrive@pbojan/**                              @pbojan
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
internet-indicator@sangorys/**                     @sangorys
ioDisk@ctrlesc/**                                  @somboku
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @claudiux
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
power-profiles@rcalixte/**                         @rcalixte
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
ptt@thbemme/**                                     @thbemme
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rswitcher@nixdev.com/**                            @mindbeat
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
skeuos-remix@benlazhar.com/**                      @NadhirBenLazhar
sleepTimer@JDatPNW/**                              @JDatPNW
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
ssm@Severga/**                                     @Severga
stacks@centurix/**                                 @centurix
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-controls@rcalixte/**                        @rcalixte
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timer@Severga/**                                   @Severga
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
uiscaler@joka42/**                                 @joka42
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
wakatimedisplay@inventor96/**                      @inventor96
wallpaper-slideshow@amaan-mohib/**                 @amaan-mohib
weather@mockturtl/**                               @Gr3q
website-notifier@cardsurf/**                       @cardsurf
window-list@sangorys/**                            @sangorys
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd
xsession@claudiux/**                               @claudiux

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# azan@fahri.nurul.id
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# paneldo@beatlink
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

v1.7.5 - Fixes #4559 and #4473
  qredshift@quintao/README.md
  qredshift@quintao/files/qredshift@quintao/applet.js
  qredshift@quintao/files/qredshift@quintao/metadata.json
  qredshift@quintao/files/qredshift@quintao/po/fr.po
  qredshift@quintao/files/qredshift@quintao/po/qredshift@quintao.pot
Owners: @raphaelquintao

Improve search performance (4.0 version)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/browserHistory.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/display.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/utils.js
Owners: @fredcw

Improve search performance (5.8 version)
  Cinnamenu@json/files/Cinnamenu@json/5.8/applet.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/browserHistory.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/display.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/utils.js
Owners: @fredcw

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

[Cinnamenu@json] Improve search performance (#4943)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/browserHistory.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/display.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/utils.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/applet.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/browserHistory.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/categoriesview.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/display.js
  Cinnamenu@json/files/Cinnamenu@json/5.8/utils.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

weather@mockturtl: Czech translation update
  weather@mockturtl/files/weather@mockturtl/po/cs.po
Owners: @Gr3q

Sensors@claudiux: Czech translation update
  Sensors@claudiux/files/Sensors@claudiux/po/cs.po
Owners: @claudiux

[power-profiles@rcalixte] Version 1.0.1
  power-profiles@rcalixte/CHANGELOG.md
  power-profiles@rcalixte/README.md
  power-profiles@rcalixte/files/power-profiles@rcalixte/5.4/applet.js
  power-profiles@rcalixte/files/power-profiles@rcalixte/metadata.json
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/es.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/fr.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/hu.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/power-profiles@rcalixte.pot
  power-profiles@rcalixte/screenshot.png
Owners: @rcalixte

v4.1.0 - Show entire title in player (menu)
  sound150@claudiux/files/sound150@claudiux/5.4/applet.js
  sound150@claudiux/files/sound150@claudiux/5.8/applet.js
  sound150@claudiux/files/sound150@claudiux/5.8/settings-schema.json
  sound150@claudiux/files/sound150@claudiux/CHANGELOG.md
  sound150@claudiux/files/sound150@claudiux/metadata.json
Owners: @claudiux

v1.4.2 - Add mpv-mpris as dependency
  Radio3.0@claudiux/files/Radio3.0@claudiux/CHANGELOG.md
  Radio3.0@claudiux/files/Radio3.0@claudiux/lib/checkDependencies.js
  Radio3.0@claudiux/files/Radio3.0@claudiux/metadata.json
Owners: @claudiux

[CassiaWindowList@klangman] Add new buttons on the right of the pool
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/4.0/applet.js
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/4.0/settings-schema.json
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/po/CassiaWindowList@klangman.pot
Owners: @klangman

Cinnamenu@json: Update sv.po
  Cinnamenu@json/files/Cinnamenu@json/po/sv.po
Owners: @fredcw

Add icons for Cinnamon 5.8
  qredshift@quintao/files/qredshift@quintao/icons/redshift-status-off-symbolic.svg
  qredshift@quintao/files/qredshift@quintao/icons/redshift-status-on-symbolic.svg
Owners: @raphaelquintao

[CassiaWindowList@klangman] Add new buttons on the right of the pool (#4948)
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/4.0/applet.js
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/4.0/settings-schema.json
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/po/CassiaWindowList@klangman.pot
Owners: @klangman

Fix bug preventing applet starting on mint 19.1
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
Owners: @fredcw

Update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

[Cinnamenu@json] Bugfix (#4951)
  Cinnamenu@json/files/Cinnamenu@json/4.0/applet.js
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

[power-profiles@rcalixte] Version 1.0.1 (#4945)
  power-profiles@rcalixte/CHANGELOG.md
  power-profiles@rcalixte/README.md
  power-profiles@rcalixte/files/power-profiles@rcalixte/5.4/applet.js
  power-profiles@rcalixte/files/power-profiles@rcalixte/metadata.json
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/es.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/fr.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/hu.po
  power-profiles@rcalixte/files/power-profiles@rcalixte/po/power-profiles@rcalixte.pot
  power-profiles@rcalixte/screenshot.png
Owners: @rcalixte

add more description
  desaturate-all@hkoosha/files/desaturate-all@hkoosha/metadata.json
Owners: @hkoosha

Add spanish translation
  bash-sensors@pkkk/files/bash-sensors@pkkk/po/es.po
Owners: none

Add spanish translation
  CommandRunner@appdevsw/files/CommandRunner@appdevsw/po/es.po
Owners: none

Update metadata.json
  desaturate-all@hkoosha/files/desaturate-all@hkoosha/metadata.json
Owners: @hkoosha

Add spanish translation
  ctrl4docker@hoffis-eck.de/files/ctrl4docker@hoffis-eck.de/po/es.po
Owners: none

Update metadata.json
  desaturate-all@hkoosha/files/desaturate-all@hkoosha/metadata.json
Owners: @hkoosha

Add spanish translation
  sshlauncher@sumo/files/sshlauncher@sumo/po/es.po
Owners: @sumo

v1.4.1 - Improves style
  sound150@claudiux/README.md
  sound150@claudiux/files/sound150@claudiux/5.4/applet.js
  sound150@claudiux/files/sound150@claudiux/CHANGELOG.md
  sound150@claudiux/files/sound150@claudiux/README.md
  sound150@claudiux/files/sound150@claudiux/metadata.json
Owners: @claudiux

Align style for the container actor with the names used for the contents
  windowlist@cobinja.de/files/windowlist@cobinja.de/5.4/applet.js
Owners: @Cobinja

Align style for the container actor with the names used for the contents (#4959)
  windowlist@cobinja.de/files/windowlist@cobinja.de/5.4/applet.js
Owners: @Cobinja

Add spanish translation
  stopwatch@pdcurtis/files/stopwatch@pdcurtis/po/es.po
Owners: @pdcurtis

add spanish translation
  scripts@paucapo.com/files/scripts@paucapo.com/po/es.po
Owners: none

add spanish translation
  devutils@fogl/files/devutils@fogl/po/es.po
Owners: none

stopwatch@pdcurtis: Add spanish translation (#4960)
  stopwatch@pdcurtis/files/stopwatch@pdcurtis/po/es.po
Owners: @pdcurtis

scripts@paucapo.com: Add spanish translation (#4961)
  scripts@paucapo.com/files/scripts@paucapo.com/po/es.po
Owners: none

devutils@fogl: Add spanish translation (#4962)
  devutils@fogl/files/devutils@fogl/po/es.po
Owners: none

[CassiaWindowList@klangman] Use CSS class grouped-window-list-box
  CassiaWindowList@klangman/files/CassiaWindowList@klangman/4.0/applet.js
Owners: @klangman

Fix graph for light themes and use dayname in hourly
  weather@mockturtl/files/weather@mockturtl/3.8/stylesheet.css
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/src/3_8/config.ts
  weather@mockturtl/src/3_8/types.ts
  weather@mockturtl/src/3_8/ui.ts
  weather@mockturtl/src/3_8/ui_elements/uiForecasts.ts
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
  weather@mockturtl/src/3_8/utils.ts
Owners: @Gr3q

Revert settings change
  weather@mockturtl/files/weather@mockturtl/3.8/settings-schema.json
Owners: @Gr3q

Change fontsize to percent
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/ui_elements/uiHourlyForecasts.ts
Owners: @Gr3q

weather@mockturtl - Update is.po
  weather@mockturtl/files/weather@mockturtl/po/is.po
Owners: @Gr3q

codeowners_creator.py: Cleanup Python (#4924)
  .github/codeowners_creator.py
Owners: none
