Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

weather@mockturtl: update for Dutch translation for version 3.1.7.
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

weather@mockturtl - Improve French translation
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

add es.po
  gmail@lauritsriple/files/gmail@lauritsriple/po/es.po
Owners: @lauritsriple

add es.po
  show-hide-applets@mohammad-sn/files/show-hide-applets@mohammad-sn/po/es.po
Owners: @mohammad-sn

add es.po
  ratecurrency@magner/files/ratecurrency@magner/po/es.po
Owners: @AleksiMagner

update es.po
  asl@santiago/files/asl@santiago/po/es.po
Owners: @SamBurgos

add es.po
  AutostartPrograms@spacy01/files/AutostartPrograms@spacy01/po/es.po
Owners: @spacy01

added 150% and 175% scaling
  uiscaler@joka42/README.md
  uiscaler@joka42/files/uiscaler@joka42/applet.js
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

fix "red heart" emoji
  Cinnamenu@json/files/Cinnamenu@json/4.0/emoji.js
Owners: @fredcw

Fix translation strings
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
Owners: @fredcw

Update .pot file
  Cinnamenu@json/files/Cinnamenu@json/po/Cinnamenu.pot
Owners: @fredcw

weather@mockturtl Update sv.po 3.1.7
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

Fix translation from custom widget
  weather@mockturtl/files/weather@mockturtl/3.8/LogSaver.py
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
Owners: @mockturtl

Always capitalize first letter of day names
  weather@mockturtl/files/weather@mockturtl/3.8/weather-applet.js
  weather@mockturtl/files/weather@mockturtl/po/weather@mockturtl.pot
  weather@mockturtl/src/3_8/utils.ts
Owners: @mockturtl

Update version
  weather@mockturtl/CHANGELOG.md
  weather@mockturtl/files/weather@mockturtl/metadata.json
Owners: @mockturtl

Create pl_PL.po
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/pl_PL.po
Owners: none

update es.po (#4141)
  asl@santiago/files/asl@santiago/po/es.po
Owners: @SamBurgos

weather@mockturtl: update for Dutch translation for version 3.1.7. (#4134)
  weather@mockturtl/files/weather@mockturtl/po/nl.po
Owners: @mockturtl

weather@mockturtl - Improve French translation (#4137)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

add es.po (#4138)
  gmail@lauritsriple/files/gmail@lauritsriple/po/es.po
Owners: @lauritsriple

add strict mode (#4070)
  radio@driglu4it/files/radio@driglu4it/4.6/radio-applet.js
  radio@driglu4it/files/radio@driglu4it/4.6/settings-schema.json
  radio@driglu4it/jest.config.js
  radio@driglu4it/package.json
  radio@driglu4it/src/ChannelStore.ts
  radio@driglu4it/src/Config.ts
  radio@driglu4it/src/functions/downloadFromYoutube.ts
  radio@driglu4it/src/functions/limitString.ts
  radio@driglu4it/src/index.ts
  radio@driglu4it/src/lib/IconMenuItem.ts
  radio@driglu4it/src/lib/Slider.ts
  radio@driglu4it/src/mpv/CheckInstallation.ts
  radio@driglu4it/src/mpv/MpvHandler.ts
  radio@driglu4it/src/polyfill.ts
  radio@driglu4it/src/tsconfig.json
  radio@driglu4it/src/types.ts
  radio@driglu4it/src/ui/Applet/Applet.ts
  radio@driglu4it/src/ui/Applet/AppletLabel.ts
  radio@driglu4it/src/ui/Applet/AppletTooltip.ts
  radio@driglu4it/src/ui/ChannelList/ChannelList.ts
  radio@driglu4it/src/ui/Toolbar/PlayPauseButton.ts
  radio@driglu4it/tests/__tests__/functions/downloadFromYoutube.ts
  radio@driglu4it/tests/__tests__/lib/IconMenuItem.ts
  radio@driglu4it/tests/__tests__/mpv/MpvHandler.ts
  radio@driglu4it/tests/__tests__/ui/ChannelList/ChannelList.ts
  radio@driglu4it/tests/utils/MpvMock.ts
  radio@driglu4it/tsconfig-base.json
  radio@driglu4it/tsconfig.json
Owners: @jonath92

add es.po (#4133)
  bettersettings@bownz/files/bettersettings@bownz/po/es.po
Owners: none

Create pl_PL.po (#4148)
  darkMode@linuxedo.com/files/darkMode@linuxedo.com/po/pl_PL.po
Owners: none

weather@mockturtl Update sv.po 3.1.7 (#4145)
  weather@mockturtl/files/weather@mockturtl/po/sv.po
Owners: @mockturtl

add es.po (#4139)
  show-hide-applets@mohammad-sn/files/show-hide-applets@mohammad-sn/po/es.po
Owners: @mohammad-sn

add es.po (#4142)
  AutostartPrograms@spacy01/files/AutostartPrograms@spacy01/po/es.po
Owners: @spacy01

[Cinnamenu@json] Some minor fixes (#4144)
  Cinnamenu@json/files/Cinnamenu@json/4.0/emoji.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
  Cinnamenu@json/files/Cinnamenu@json/po/Cinnamenu.pot
Owners: @fredcw

update es.po (#4130)
  sound150@claudiux/files/sound150@claudiux/po/es.po
Owners: @claudiux

add es.po (#4140)
  ratecurrency@magner/files/ratecurrency@magner/po/es.po
Owners: @AleksiMagner

added 150% and 175% scaling (#4143)
  uiscaler@joka42/README.md
  uiscaler@joka42/files/uiscaler@joka42/applet.js
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

calendar@simonwiles.net: require gtk 3.0 for settings window (#4119)
  calendar@simonwiles.net/files/calendar@simonwiles.net/world_clock_calendar_settings.py
Owners: @simonwiles

batterypower@joka42 Adds an applet that shows power consumption of the system drawn from the battery (#4131)
  batterypower@joka42/LICENSE.md
  batterypower@joka42/files/batterypower@joka42/applet.js
  batterypower@joka42/files/batterypower@joka42/icon.png
  batterypower@joka42/files/batterypower@joka42/metadata.json
  batterypower@joka42/files/batterypower@joka42/settings-schema.json
  batterypower@joka42/info.json
  batterypower@joka42/screenshot.png
Owners: none

Mini-Calc applet (calc@ptandler) (#4105)
  calc@ptandler/README.md
  calc@ptandler/copy-changed-files.sh
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/helpText.js
  calc@ptandler/files/calc@ptandler/icon.png
  calc@ptandler/files/calc@ptandler/icon.svg
  calc@ptandler/files/calc@ptandler/metadata.json
  calc@ptandler/files/calc@ptandler/settings-schema.json
  calc@ptandler/files/calc@ptandler/stylesheet.css
  calc@ptandler/info.json
  calc@ptandler/screenshot.png
  calc@ptandler/watch-for-changed-files.sh
Owners: none

weather@mockturtl Turkish update 3.1.7
  weather@mockturtl/files/weather@mockturtl/po/tr.po
Owners: @mockturtl

uiscaler@joka42 Turkish translation
  uiscaler@joka42/files/uiscaler@joka42/po/tr.po
Owners: none

octopussy@centurix Turkish translation
  octopussy@centurix/files/octopussy@centurix/po/tr.po
Owners: @centurix

weather@mockturtl Turkish update 3.1.7 (#4149)
  octopussy@centurix/files/octopussy@centurix/po/tr.po
  uiscaler@joka42/files/uiscaler@joka42/po/tr.po
  weather@mockturtl/files/weather@mockturtl/po/tr.po
Owners: @centurix, @mockturtl

Update changelog
  weather@mockturtl/CHANGELOG.md
Owners: @mockturtl

Updated Hungarian translation of Cinnamenu applet
  Cinnamenu@json/files/Cinnamenu@json/po/hu.po
Owners: @fredcw
