Repository linuxmint/cinnamon-spices-applets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spacy01, @NikoKrause, @fredcw, @Nicolas01, @stefan12O, @omidmaldar, @mohammad-sn, @tuuxx, @icarter09, @claudiux, @jaszhix, @SamBurgos, @fahrinh, @Sokawaii25, @pdcurtis, @simonmicro, @Starcross, @cardsurf, @ccprog, @simonwiles, @centurix, @jake1164, @FilipeTorresBR, @wrouesnel, @feuerfuchs, @collinss, @brownsr, @gnemonix, @imDeprecated, @andr35, @bpivaty, @Hukuta, @jamesmorgan, @lauritsriple, @brett-smith, @ipolozov, @hultan, @ctrlesc, @PrimaMateria, @vitaliis, @JoeJoeTV, @Severga, @edaubert, @hyOzd, @yaya-cout, @ImmRanneft, @nickdurante, @jgillula, @gfreeau, @linux-man, @pixunil, @raphaelquintao, @jonath92, @AleksiMagner, @marvel4u, @jerrywham, @hulygun, @lerc, @germanfr, @foobar-beer, @sumo, @szlldm, @orcuscz, @narutrey, @nicog60, @Shatur95, @zablotski, @lhriley, @mockturtl, @zeripath, @Cobinja, @nicoulaj, @hernejj, @willurd

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AutostartPrograms@spacy01/**                       @spacy01
BgRadio@spacy01/**                                 @spacy01
CinnVIIStarkMenu@NikoKrause/**                     @NikoKrause
Cinnamenu@json/**                                  @fredcw
CustomApplicationsMenu@LLOBERA/**                  @Nicolas01
CustomPlaces@Nicolas01/**                          @Nicolas01
InternetTimeApplet@stefan/**                       @stefan12O
Mint-Unsplash-Background@omidmaldar/**             @omidmaldar
SW++@mohammad-sn/**                                @mohammad-sn
ScreenLocker@tuuxx/**                              @tuuxx
ScreenShot+RecordDesktop@tech71/**                 @icarter09
Sensors@claudiux/**                                @claudiux
ShellTools@abgoyal/**                              @jaszhix
ShutdownApplet@DeathMD/**                          @icarter09
ShutdownMenuWithIcons@LLOBERA/**                   @Nicolas01
SpicesUpdate@claudiux/**                           @claudiux
asl@santiago/**                                    @SamBurgos
azan@fahri.nurul.id/**                             @fahrinh
backgroundroll@Sokawaii25/**                       @Sokawaii25
batterymonitor@pdcurtis/**                         @pdcurtis
better-backgrounds@simonmicro/**                   @simonmicro
bing-wallpaper@starcross.dev/**                    @Starcross
brightness-and-gamma-applet@cardsurf/**            @cardsurf
bumblebee@pdcurtis/**                              @pdcurtis
calendar@ccprog/**                                 @ccprog
calendar@simonwiles.net/**                         @simonwiles
cheaty@centurix/**                                 @centurix
cinnamon-timer@jake1164/**                         @jake1164
clean-show-desktop@filipetorresbr/**               @FilipeTorresBR
clipboard-qr@wrouesnel/**                          @wrouesnel
collapsible-systray@feuerfuchs.eu/**               @feuerfuchs
color-picker@fmete/**                              @icarter09
commandLauncher@scollins/**                        @collinss
computer@brownsr/**                                @brownsr
cpu-monitor-text@gnemonix/**                       @gnemonix
cryptocoin@guantanamoe/**                          @imDeprecated
ddcci-monitor-control@andr35/**                    @andr35
dgs-bpivaty@gmail.com/**                           @bpivaty
disk-read-and-write-speed@cardsurf/**              @cardsurf
download-and-upload-speed@cardsurf/**              @cardsurf
expressvpn@Hukuta/**                               @Hukuta
feeds@jonbrettdev.wordpress.com/**                 @jake1164
github-projects@morgan-design.com/**               @jamesmorgan
gmail@lauritsriple/**                              @lauritsriple
gnote@brett-smith/**                               @brett-smith
gpaste-reloaded@feuerfuchs.eu/**                   @feuerfuchs
graphicsCenter@scollins/**                         @collinss
healthyeyes@ipolozov/**                            @ipolozov
hideable-applets@cardsurf/**                       @cardsurf
hwmonitor@sylfurd/**                               @hultan
ioDisk@ctrlesc/**                                  @ctrlesc
ipindicator@matus.benko@gmail.com/**               @PrimaMateria
jalalicalendar@mohammad-sn/**                      @mohammad-sn
jenkins@backuity.org/**                            @vitaliis
kdecapplet@joejoetv/**                             @JoeJoeTV
kdeccc@Severga/**                                  @Severga
localipswithsettings@edaubert/**                   @edaubert
mailnagapplet@ozderya.net/**                       @hyOzd
mem-monitor-text@datanom.net/**                    @icarter09
multicore-sys-monitor@ccadeptic23/**               @jaszhix
netusagemonitor@pdcurtis/**                        @pdcurtis
network@brownsr/**                                 @brownsr
nextslide@yaya-cout/**                             @yaya-cout
nightscout@ranneft/**                              @ImmRanneft
nordvpn-indicator@nickdurante/**                   @nickdurante
notification-mute@jgillula/**                      @jgillula
nvidiaprime@pdcurtis/**                            @pdcurtis
octopussy@centurix/**                              @centurix
officeCenter@scollins/**                           @collinss
placesCenter@scollins/**                           @collinss
pomodoro@gregfreeman.org/**                        @gfreeau
printers@linux-man/**                              @linux-man
profile-switcher@pixunil/**                        @pixunil
qredshift@quintao/**                               @raphaelquintao
radio@driglu4it/**                                 @jonath92
rancher@centurix/**                                @centurix
ratecurrency@magner/**                             @AleksiMagner
redshift@marvel4u/**                               @marvel4u
restart-cinnamon@kolle/**                          @icarter09
rust-menu@jerrywham/**                             @jerrywham
serviceLauncher@hulygun/**                         @hulygun
sessionManager@scollins/**                         @collinss
show-hide-applets@mohammad-sn/**                   @mohammad-sn
smallcalc_applet@lerc.sds/**                       @lerc
sound150@claudiux/**                               @claudiux
spices-notifier@germanfr/**                        @germanfr
sshconnect@foobar-beer/**                          @foobar-beer
sshlauncher@sumo/**                                @sumo
standardIconNames@jerrywham/**                     @jerrywham
stevedore@centurix/**                              @centurix
sticky@scollins/**                                 @collinss
stopwatch@pdcurtis/**                              @pdcurtis
sync@szlldm/**                                     @szlldm
sysmonitor@orcus/**                                @orcuscz
system-monitor@spacy01/**                          @spacy01
temperature@fevimu/**                              @claudiux
text-to-speech-applet@cardsurf/**                  @cardsurf
timeout@narutrey/**                                @narutrey
timeshift-spy@nicog60/**                           @nicog60
tor-button@shatur/**                               @Shatur95
turn-off-monitor@zablotski/**                      @zablotski
tzclock@lhriley/**                                 @lhriley
vboxlauncher@mockturtl/**                          @mockturtl
vnstat@linuxmint.com/**                            @pdcurtis
vpnLookOut@claudiux/**                             @claudiux
weather@mockturtl/**                               @mockturtl
website-notifier@cardsurf/**                       @cardsurf
window-list@zeripath.sdf-eu.org/**                 @zeripath
windowlist@cobinja.de/**                           @Cobinja
wireguard@nicoulaj.net/**                          @nicoulaj
workspace-grid@hernejj/**                          @hernejj
workspace-name@willurd/**                          @willurd

# The following xlets have no author assigned to them.
# CommandRunner@appdevsw
# MessagingMenuV3@blub
# PDFManager@cinnamon.org
# ScreenShot@tech71
# SettingsPlus@lusito.info
# ThemeRefresh@JosephM
# back-up_state@natsakis.com
# bash-sensors@pkkk
# betterlock
# bettersettings@bownz
# binaryclock@entelechy
# cinnamon-multi-line-taskbar-applet
# cpufreq@mtwebster
# ctrl4docker@hoffis-eck.de
# devutils@fogl
# diaspora-notif@douze12
# force-quit@cinnamon.org
# gputemperature@silentage.com
# hamster@projecthamster.wordpress.com
# ifstat@tagadan
# localip@mrieracrespi
# location-detection@heimdall
# lorem@vxstorm
# menu@csknet.org
# mybookmarks@markbokil.com
# mylauncher@markbokil.com
# pa-equalizer@jschug.com
# places-bookmarks@dmo60.de
# places-with-terminal@mtwebster
# rprego@rprego.com
# rwall@typicalfoobar
# screen-inhibit@mtwebster
# scripts@paucapo.com
# search-box@mtwebster
# separator2@zyzz
# shutdown-timer@webum.by
# softyubikey@yubiserver.include.gr
# suspend@janax
# systray-collapsible@koutch
# todo@threefi
# tracker@glebihan
# uptime@vatanuki.kun
# web-developer-menu@infiniteshroom
# xampp-panel@backids99

converted the Mini-Calc desklet to an applet
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/icon.png
  calc@ptandler/files/calc@ptandler/metadata.json
  calc@ptandler/files/calc@ptandler/stylesheet.css
  calc@ptandler/info.json
Owners: none

README.md: added link to CJS in github incl docs and examples
  calc@ptandler/README.md
Owners: none

added icon for panel
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/icon.svg
Owners: none

minor change in README.md
  calc@ptandler/README.md
Owners: none

automatically set the keyboard focus as soon as the mini-calc is shown (e.g. click on icon)
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
Owners: none

make max number of history entries configurable
  calc@ptandler/README.md
  calc@ptandler/copy-changed-files.sh
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/settings-schema.json
  calc@ptandler/files/calc@ptandler/stylesheet.css
  calc@ptandler/watch-for-changed-files.sh
Owners: none

added some very simple help dialog
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/applet.js
  calc@ptandler/files/calc@ptandler/helpText.js
  calc@ptandler/files/calc@ptandler/stylesheet.css
Owners: none

v0.4
  calc@ptandler/README.md
  calc@ptandler/files/calc@ptandler/metadata.json
Owners: none

add es.po
  windowlist@cobinja.de/files/windowlist@cobinja.de/po/es.po
Owners: @Cobinja

update es.po
  windowlist@cobinja.de/files/windowlist@cobinja.de/po/es.po
Owners: @Cobinja

update version number
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

Don't allow uninstall of package if it has...
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
Owners: @fredcw

added screenshot.png
  calc@ptandler/screenshot.png
Owners: none

Update pl.po
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/po/pl.po
Owners: @NikoKrause

[Cinnamenu@json] Improvements to uninstall option (#4107)
  Cinnamenu@json/files/Cinnamenu@json/4.0/buttons.js
  Cinnamenu@json/files/Cinnamenu@json/4.0/mint-remove-application.py
  Cinnamenu@json/files/Cinnamenu@json/metadata.json
Owners: @fredcw

add es.po (#4099)
  ScreenShot@tech71/files/ScreenShot@tech71/po/es.po
Owners: none

add es.po (#4098)
  ScreenShot+RecordDesktop@tech71/files/ScreenShot+RecordDesktop@tech71/po/es.po
Owners: @icarter09

add es.po (#4100)
  pa-equalizer@jschug.com/files/pa-equalizer@jschug.com/po/es.po
Owners: none

add es.po (#4101)
  rswitcher@nixdev.com/files/rswitcher@nixdev.com/po/es.po
Owners: none

weather@mockturtl: improve french translation (#4095)
  weather@mockturtl/files/weather@mockturtl/po/fr.po
Owners: @mockturtl

add es.po (#4102)
  text-to-speech-applet@cardsurf/files/text-to-speech-applet@cardsurf/po/es.po
Owners: @cardsurf

weather@mockturtl: Hebrew .po update for ver3.1.6 (#4104)
  weather@mockturtl/files/weather@mockturtl/po/he.po
Owners: @mockturtl

windowlist@cobinja.de - add spanish translation (#4106)
  windowlist@cobinja.de/files/windowlist@cobinja.de/po/es.po
Owners: @Cobinja

Update pl.po (#4108)
  CinnVIIStarkMenu@NikoKrause/files/CinnVIIStarkMenu@NikoKrause/po/pl.po
Owners: @NikoKrause

default 100% config set to actual default value in Mint 20.3
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

update es.po
  sticky@scollins/files/sticky@scollins/po/es.po
Owners: @collinss

default 100% config set to actual default value in Mint 20.3
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

fixed icon size
  uiscaler@joka42/files/uiscaler@joka42/uiscaler
Owners: none

add es.po
  force-quit@cinnamon.org/files/force-quit@cinnamon.org/po/es.po
Owners: none

add es.po
  restart-cinnamon@kolle/files/restart-cinnamon@kolle/po/es.po
Owners: @icarter09

add es.po
  clean-show-desktop@filipetorresbr/files/clean-show-desktop@filipetorresbr/po/es.po
Owners: @FilipeTorresBR

update es.po
  PDFManager@cinnamon.org/files/PDFManager@cinnamon.org/po/es.po
Owners: none

add es.po
  batterymonitor@pdcurtis/files/batterymonitor@pdcurtis/po/es.po
Owners: @pdcurtis

add es.po
  cinnamon-timer@jake1164/files/cinnamon-timer@jake1164/po/es.po
Owners: @jake1164

add es.po (#4117)
  cinnamon-timer@jake1164/files/cinnamon-timer@jake1164/po/es.po
Owners: @jake1164

update es.po (#4109)
  sticky@scollins/files/sticky@scollins/po/es.po
Owners: @collinss

add es.po (#4116)
  batterymonitor@pdcurtis/files/batterymonitor@pdcurtis/po/es.po
Owners: @pdcurtis

add es.po (#4111)
  force-quit@cinnamon.org/files/force-quit@cinnamon.org/po/es.po
Owners: none

update es.po (#4115)
  PDFManager@cinnamon.org/files/PDFManager@cinnamon.org/po/es.po
Owners: none

add es.po (#4114)
  clean-show-desktop@filipetorresbr/files/clean-show-desktop@filipetorresbr/po/es.po
Owners: @FilipeTorresBR
